/* designing a normal element tag  */


/* ELEMENT SELECTOR DEMO */

p {
    color: red;
}


/* color of Anchor Tag present inside upper paragraph tag has not yet changed  */
/* hence designing anchor tag seperatrely */

a {
    color: blue;
}


/* if we want to give same color for both upper tags, 
then we can use combined selectors */

p,
a {
    color: rgb(0, 255, 13);
}


/* the default list style type is "disc" for our unordered list we 
   can change it using selector */
/* removing bulleted points of list and making it flat  */

li {
    /* list-style-type: none; */
    /* for making pts as square */
    list-style-type: square;
}

